/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  overflow-x: hidden;
}
html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 4vw;
}

@layer base {
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 400;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-It.woff) format('woff');
  }
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 200;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-Regular.woff) format('woff');
  }
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 500;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-Demi.woff) format('woff');
  }
  @font-face {
    font-family: 'Avenir Next LT Pro';
    font-weight: 700;
    src: local('Avenir Next LT Pro'),
      url(/fonts/Avenir_Next_LT_Pro/AvenirNextLTPro-Bold.woff) format('woff');
  }
}

@layer components {
  .button {
    @apply flex-shrink-0 block px-4 py-2 text-base font-medium rounded-md border border-transparent text-base align-middle text-center leading-button shadow-sm;
  }

  .button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .button:disabled:hover {
    @apply opacity-50 cursor-not-allowed;
  }

  .button-primary {
    @apply bg-indigo-600 text-white transition duration-150 ease-in-out;
  }

  .button-seconday {
    @apply bg-indigo-200 text-indigo-700  transition duration-150 ease-in-out;
  }

  .button-primary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-indigo-500;
  }

  .button-primary:hover {
    @apply bg-indigo-700 font-bold shadow-md transform scale-101;
  }

  .button-secondary {
    @apply bg-indigo-200 text-indigo-700  transition duration-150 ease-in-out;
  }

  .button-secondary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-indigo-500;
  }

  .button-secondary:hover {
    @apply bg-indigo-300 font-bold shadow-md transform scale-101;
  }
}

.button-custom {
  font-family: 'Avenir Next LT Pro';
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.gray-color {
  border-color: #636363;
  color: #636363;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.flex-column{
  display: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.nav-bar{
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100vw;
}

.nav-bar-container{
  width: 100vw;
}

.metamask-step{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.mobile-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.mobile-background-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/images/mobileErrorBg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.beneficiary-image{
  min-width: 400px;
  max-width: 400px;
  min-height: 450px;
  max-height: 450px;
  margin: 10px;
  border-radius: 15px;
  object-fit: cover;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card{
  width: 100%;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
  border: 1px solid rgba(59,130,246,0.2);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home p{
    display: inline-block;
    font-size: 16px;
  }

  .home h1{
    font-size: 18px;
  }

  .card p{
    font-size: 16px;
  }

  .hero-image{
    margin-top: 40px;
    max-width: 40%;
    min-width: 40%;
    height: auto;
  }

  .home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 120vh;
    background-image: url("../public/images/landingBG.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  .home-container{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .home-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .home-text{
    text-align: center;
    margin-top: 40px;
    min-width: 90%;
  }
  
  .beneficiary{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .beneficiary-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
  }

  .beneficiary-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home p{
    display: inline-block;
    font-size: 18px;
  }

  .home h1{
    font-size: 20px;
  }

  .card p{
    font-size: 18px;
  }

  .hero-image{
    margin-top: 40px;
    max-width: 40%;
    min-width: 40%;
    height: auto;
  }

  .home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: url("../public/images/landingBG.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  .home-container{
    position: relative;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .home-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .home-text{
    text-align: center;
    margin-top: 40px;
    width: 80%;
  }
  

  .beneficiary{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .beneficiary-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
  }

  .beneficiary-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home p{
    display: inline-block;
    font-size: 21px;
  }

  .home h1{
    font-size: 23px;
  }

  .card p{
    font-size: 16px;
  }

  .hero-image{
    margin-top: 40px;
    max-width: 40%;
    min-width: 40%;
    height: auto;
  }

  .home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: url("../public/images/landingBG.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  .home-container{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .home-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .home-text{
    text-align: center;
    margin-top: 40px;
    width: 40%;
  }

  .beneficiary{ 
    height: 100vh;
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
  }  

  .beneficiary-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
  }

  .beneficiary-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home p{
    display: inline-block;
    font-size: 21px;
  }

  .home h1{
    font-size: 23px;
  }

  .card p{
    font-size: 16px;
  }

  .hero-image{
    max-width: 40%;
    min-width: 40%;
    height: auto;
  }

  .home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: url("../public/images/landingBG.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  .home-container{
    position: relative;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .home-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .home-text{
    text-align: center;
    margin-top: 40px;
    width: 40%;
  }

  .beneficiary{ 
    height: 100vh;
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 40px;
    padding-bottom: 40px;
  }  

  .beneficiary-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
  }

  .beneficiary-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home p{
    display: inline-block;
    font-size: 21px;
  }

  .home h1{
    font-size: 23px;
    line-height: 20px;
  }

  .card p{
    font-size: 16px;
  }

  .hero-image{
    max-width: 40%;
    min-width: 30%;
    height: auto;
  }

  .home{
    position: relative;
    display: flex;
    padding-bottom: 20px;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../public/images/landingBG.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;  
  }
  
  .home-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .home-content{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .home-text{
    text-align: center;
    margin-top: 40px;
    width: 40%;
    line-height: 100%;
  }

  .beneficiary{ 
    height: 100vh;
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 40px;
    padding-bottom: 40px;
  }  

  .beneficiary-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
  }

  .beneficiary-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .home{
    position: relative;
    display: flex;
    padding-bottom: 20px;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../public/images/landingBG.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;  
  }
}